*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 48px auto;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.logo{
    background-image: url(./assets/logo-mini.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 32px;
    border-radius: 8px;
}
nav div h1{
    font-size: 13px;
}
nav ul{
    display: flex;
    gap: 20px;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: 500;
    font-size: 12px;
}

.un-btn{
    border: none;
    background-color: #2563eb;
    padding: 12px 32px;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

header section{
    background-image: linear-gradient(to right, rgba(0,0,0, 0.5), rgba(0,0,0,0)), url(./assets/banner.jpg);
    height: 720px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header section h2{
    font-size: 60px;
    font-weight: 600;
}

.ban-des{
    width: 50%;
    text-align: center;
    margin: 0 auto 256px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 80%;
    margin: 100px auto;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
}

.speaker-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.speaker-card{
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}
.speaker-img{
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.speaker-identity{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.spciality{
    color: #2563eb;
    font-size: 12px;
}
.name{
    font-size: 20px;
    font-weight: bold;
}
.pj {
    font-size: 14px;
}

.pur-head-con{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.uv-head{
    font-size: 48px;
    font-weight: bold;
}
.purchase-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    padding: 24px;
    border-radius: 32px;
    border: 1px solid #E5E7EB;
}
.price-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.price-q{
    font-size: 13px;
    color: #888888;
    font-weight: 700;
}
.price{
    color: #0D1B2A;
    font-size: 44px;
    font-weight: bold;
}
.p-q{
    color: #888888;
    font-size: 10px;
}

.purchase-card-container{
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
}

.featureofpurchase{
    display: flex;
    flex-direction: column;
    color: #333333;
    gap: 10px;
}

.featureofpurchase li{
    list-style: none;
    font-size: 12px;
}

.featureofpurchase li::before {
    content: "•";
    color: #2563EB;
    margin-right: 10px;
}

#h-pur-card-list li::before {
    content: "•";
    color:#60A5FA;
}

.venue-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    align-items: center;
    margin-top: 60px;
}

.venue-info li{
    margin-bottom:12px;
    list-style: none;
    font-weight: 600;
}

details{
    border:1px solid #ddd;
    border-radius:10px;
    margin-bottom:18px;
    padding:20px;
}

summary{
    cursor:pointer;
    font-size:18px;
    font-weight:600;
}

details p{
    margin-top:15px;
    color:#555;
    line-height:1.7;
}

footer {
    padding: 40px 20px;
    background-color: #0D1B2A;
    color: #fff;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-logo-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.footer-logo {
    background-image: url(./assets/logo-mini.png);
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.social-links a {
    color: #fff;
    font-size: 20px;
}

.social-links a:hover {
    color: #2563EB;
}

hr {
    margin: 30px 0 20px;
    border: none;
    border-top: 1px solid #2563EB;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #9ca3af;
}